* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --global-padding: 35px 80px;
  --text-color: #09c4e9;
  --color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000723;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--global-padding);
  margin-bottom: 50px;
}

nav a {
  color: var(--color);
  text-decoration: none;
}

nav a:hover {
  color: #743deb;
  text-decoration: none;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.nav-flex .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #18124d;
  color: var(--color);
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav button:hover {
  background-color: #743deb;
}

nav button:hover i {
  background-color: var(--color);
  color: #743deb;
}

nav i {
  background-color: #743deb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
}

header {
  color: var(--color);
  z-index: 1000;
}

.badge {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #12233c;
  color: var(--color);
  width: 250px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.icon-radius {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.text {
  font-size: 18px;
}

.highlight {
  color: var(--text-color);
  font-weight: bold;
}

.birinchi-section {
  padding: var(--global-padding);
  background-image: url("/public/year.png");
  background-position: calc(100% + 50px);
  background-repeat: no-repeat;
  background-size: 50%;
  display: flex;
}

.birinchi-section img {
  position: absolute;
  left: 650px;
  bottom: 30px;
}

.birinchi-section h1 {
  font-size: 60px;
  font-weight: 500;
}

.solid-rounded {
  border: 1px solid #723cea;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setkanavbar{
  position: absolute;
  margin-top: 800px;
  margin-left: -850px;
}
.solid-rounded button {
  background-color: #723cea;
  color: var(--color);
  border: none;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

.one-flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-flex span {
  font-size: 22px;
}

.btn-flex span > span {
  color: var(--text-color);
}

.solid-rounded i {
  font-size: 50px;
}

.two-section {
  padding: var(--global-padding);
  margin-top: 80px;
}

.cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background-color: #0d132e;
  color: var(--color);
  padding: 20px;
  width: 295px;
  height: 290px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card h1 {
  font-size: 22px;
  font-weight: 500;
  color: var(--text-color);
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color);
}

.kub {
  width: 55px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0d2540;
}

.solid-rounded:hover i {
  color: #000724;
}

.solid-rounded:hover {
  border: 1px solid var(--text-color);
}

.solid-rounded:hover button {
  background-color: var(--text-color);
  color: var(--color);
  border: 2px solid var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.reklama {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  background-color: #723cea;
  color: var(--color);
  padding: 20px;
}

.ad-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reklama-flex svg {
  width: 20px;
}

.reklama {
  overflow: hidden;
}

.price {
  padding: var(--global-padding);
  margin-top: 100px;
  justify-content: center;
}

.price-card {
  width: 400px;
  height: 258px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #ffffff0b;
  backdrop-filter: blur(100px);
}

.price-card h1 {
  font-size: 60px;
  font-weight: 500;
  color: var(--text-color);
}

.price-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.mach {
  background-color: #0e2643;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex h2 {
  font-size: 16px;
  font-weight: 400;
}

.ease {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.price button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #18124d;
  color: var(--color);
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.price button:hover {
  background-color: #743deb;
}

.price button:hover i {
  background-color: var(--color);
  color: #743deb;
}

.price i {
  background-color: #743deb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
}

.btn-centr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 150px;
}

header {
  margin-bottom: 150px;
}

.price {
  background: url(/public/katak.png);
  background-repeat: no-repeat;
}
.coco-cola {
  border: solid 1px #723cea;
  background-color: #723cea;
  border-radius: 50%;
  width: 359px;
  height: 359px;
  position: absolute;
  margin-left: 650px;
  margin-top: -480px;
  z-index: -1;
  filter: blur(200px);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 290px;
}

.footer-section img {
  width: 160px;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.up-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #000724;
}

.up-button svg {
  width: 24px;
  height: 24px;
  color: #fff;
}

.up-button span {
  margin-top: 6px;
  font-size: 12px;
  color: #ffffff;
}
.up-button:hover {
  background-color: #09c4e9;
  color: #000723;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  margin-top: 350px;
  line-height: 24px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.svg-mask {
  width: 610px;
  height: 160px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  margin-left: 630px;
  margin-top: 300px;
  position: absolute;
}

.birinchi-section .img-div {
  margin-bottom: 78px;
  position: absolute;
  margin-top: 296px;
  margin-left: -290px;
}

.num1 {
  color: #09c4e9;
  border: 1px solid #09c4e9;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 160px;
  top: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  transform: rotate(20deg);
}

.num2 {
  color: #09c4e9;
  border: 2px solid #09c4e9;
  width: 45px;
  height: 45px;
  font-size: 22px;
  position: absolute;
  right: 180px;
  bottom: 134px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(px);
}

.num3 {
  color: #09c4e9;
  border: 3px solid #09c4e9;
  width: 70px;
  height: 70px;
  position: absolute;
  right: 218px;
  bottom: 145px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  transform: rotate(-10deg);
  font-size: 36px;
}

.num4 {
  color: #09c4e9;
  border: 4px solid #09c4e9;
  width: 110px;
  height: 110px;
  position: absolute;
  right: 285px;
  bottom: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(px);
  transform: rotate(-20deg);
  font-size: 60px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Foter-end {
  display: flex;
  margin-left: 80px;
  margin-top: -100px;
}

.footer-content {
  background: url(/public/fotersetka.png);
  background-repeat: no-repeat;
  background-position: 250px;
}
.setka {
  border: solid 1px #723cea;
  background-color: #723cea;
  border-radius: 50%;
  width: 359px;
  height: 359px;
  position: absolute;
  margin-left: 600px;
  margin-top: -480px;
  z-index: -1;
  filter: blur(400px);
}
.millaya {
  border: solid 1px#09C4E9;
  background-color: #09c4e9;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  margin-left: 1315px;
  margin-top: -350px;
  z-index: -1;
  filter: blur(50px);
}

.chegirma {
  border: solid 2px #09c4e9;
  width: 90px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  margin-left: 720px;
  margin-top: -370px;
  text-align: center;
  flex-shrink: 0;
  transform: rotate(-20deg);
}
.chegirma span {
  font-size: 22px;
  color: #09c4e9;
}

.chegirma2 {
  border: solid 2px #09c4e9;
  background-color: #09c4e9;
  width: 90px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  margin-left: 1130px;
  margin-top: -370px;
  text-align: center;
  flex-shrink: 0;
  transform: rotate(-20deg);
}
.chegirma2 span {
  font-size: 22px;
  color: #0e2643;
}

.navbarrang {
  border: solid 1px#723CEA;
  background-color: #723CEA;
  border-radius: 50%;
  width: 239.351px;
  height: 95px;
  position: absolute;
  margin-left: 100px;
  margin-top: 350px;
  z-index: -1;
  filter: blur(61.68830871582031px);
}
.setgabg {
  border: solid 1px#09C4E9;
  background-color: #09C4E9;
  border-radius: 50%;
  width: 770px;
  height: 770px;
  position: absolute;
  margin-left: -800px;
  margin-top: -200px;
  z-index: -1;
  filter: blur(200px);
}

.two-section{
  background: url(/public/headersetka.png);
  background-repeat: no-repeat;
  background-position: 700px;
}